.user-row {
  display: flex;
  justify-content: space-between;
  padding: 3.5vw 0;
  border-bottom: 1px solid #eee;
}

.unblock-btn {
  border: none;
  background: none;
  color: var(--color-point-deep);
  font-weight: 600;
}
