.post-card {
  width: 100%;
  background: #1a001f;
  border-radius: 2vh;
  overflow: hidden;
  margin-bottom: 3vh;
}

.post-header {
  display: flex;
  align-items: center;
  padding: 2vh 3vw;
  gap: 2vw;
}

.post-header .profile-image-wrapper {
  width: 5vh;
  height: 5vh;
}

.post-header .username {
  color: #e6c0c7;
  font-size: 2vh;
  font-weight: bold;
  flex: 1;
}

.image-wrapper {
  width: 100%;
  aspect-ratio: 1;
}

.post-actions {
  display: flex;
  gap: 3vw;
  padding: 2vh 3vw;
}

.post-content {
  padding: 0 3vw 2vh;
  color: #e6c0c7;
}

.likes-count {
  font-size: 1.8vh;
  font-weight: bold;
  margin-bottom: 1vh;
}

.caption {
  font-size: 1.8vh;
  line-height: 1.5;
}

.caption-username {
  font-weight: bold;
  margin-right: 1vw;
}
