/* 빈 상태 */
.empty {
  padding: 6.4vw 4.3vw;
  text-align: center;
  font-size: 3.7vw;
  color: var(--color-text-gray);
}

/* 리스트 바디 */
.list-body {
  display: flex;
  flex-direction: column;
}

/* 한 줄 */
.list-item {
  display: flex;
  align-items: center;
  gap: 3.2vw;
  padding: 2.7vw 3.7vw;
}

.list-item + .list-item {
  border-top: 1px solid rgba(255, 255, 255, 0.06);
}

.avatar {
  width: 11.5vw;
  height: 11.5vw;
  border-radius: 50%;
  object-fit: cover;
  background: #eee;
}

/* 게시물 */
.thumbnail {
  width: 11.5vw;
  height: 11.5vw;
  border-radius: 1.5vw;
  object-fit: cover;
  /* background: #eee; */
}

.info {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}

.username {
  font-size: 3.7vw;
  font-weight: 600;
  color: var(--color-text-white);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content {
  font-size: 3.7vw;
  color: #111;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 버튼 (Message / 차단 해제) */
.list-item button {
  height: 8vw;
  padding: 0 6.0vw;
  border-radius: 2.5vw;
  border: none;
  background: var(--color-btn-gray);
  line-height: 1;
  font-size: 3.0vw;
  font-weight: 600;
  color: var(--color-text-white);
  cursor: pointer;
  white-space: nowrap;
}

.list-item button:active {
  opacity: 0.7;
}
