.list-tabs {
  display: flex;
  border-bottom: 1px solid var(--color-btn-gray);
}

.list-tabs button {
  flex: 1;
  padding: 3.5vw 0;
  background: none;
  border: none;
  font-size: 3.5vw;
  font-weight: 600;
  color: var(--color-text-gray);
  cursor: pointer;
}

.list-tabs button.active {
  color: var(--color-text-white);
  border-bottom: 2px solid var(--color-text-white);
}
