.profile-btn {
  height: 7.0vw;
  /* padding: 0 1.0vw; */
  border-radius: 2.0vw;
  font-size: 3.0vw;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 0.15s ease, opacity 0.15s ease;
  white-space: nowrap;

  /* 글자 수직 중앙 정렬 */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.profile-btn.point {
    background-color: var(--color-point-deep);
    color: var(--color-text-white);
}

.profile-btn.point:hover {
    background-color: var(--color-point-hover);
}

.profile-btn.default {
    background-color: var(--color-btn-gray);
    color: var(--color-text-white);
}

.profile-btn.default:hover {
    background-color: var(--color-btn-gray-hover);
}

/* 공통 */
.profile-btn:active {
    opacity: 0.8;
}