.action-button {
  font-size: clamp(20px, 3vh, 28px);
  color: #e6c0c7;
  cursor: pointer;
  transition: transform 0.2s;
}

.action-button:hover {
  transform: scale(1.1);
}

.action-button:active {
  transform: scale(0.95);
}
