.app-button {
  width: 100%;
  height: 100%;
  border-radius: 4vh;
  font-size: 2.5vh;
  border: 0.2vh solid #e6c0c7;
  background: none;
  color: #e6c0c7;
}

.app-button:hover {
  border-color: #ffdaec;
  color: #ffdaec;
  background: none;
}

.app-button:focus {
  border-color: #e6c0c7;
  color: #e6c0c7;
  background: none;
}

.app-button:disabled {
  border-color: #e6c0c7;
  color: #e6c0c7;
  opacity: 0.5;
}
