.search-bar {
  display: flex;
  align-items: center;
  gap: 1.5vw;
  padding: 1.5vh 3vw;
  border-radius: 50vh;
  background: rgba(0, 0, 0, 0.35);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.search-input {
  flex: 1;
  border: none;
  background: transparent;
  color: #f3c7d1;
  outline: none;
  font-size: 2vh;
}

.search-input::placeholder {
  color: #a67aa0;
}

.search-icon {
  font-size: 2.5vh;
  color: #f3c7d1;
}
