.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 12vh;
  background: #1a001f;
  display: flex;
  align-items: center;
  padding-inline: 6vw;
  box-sizing: border-box;
  z-index: 100;
}

.back-icon {
  font-size: 4vh;
  font-weight: bold;
  color: #e6c0c7;
  margin: 0;
  cursor: pointer;
}

.title {
  font-size: 4vh;
  font-weight: bold;
  color: #e6c0c7;
  margin: 0;
  flex: 1;
  text-align: left;
}

.icon-group {
  display: flex;
  gap: 3vw;
  align-items: center;
}

.header-icon {
  font-size: 3.5vh;
  color: #e6c0c7;
  cursor: pointer;
}

.header-icon:hover {
  color: #ffdaec;
}
